.footer-page {
    position: fixed;
    z-index: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    padding: 100px 0 35px;
    text-align: center;
    font-size: 0px;

    a {
        text-decoration: none;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    &__copyright {
        float: left;
        color: #2c3e50;
        font-family: 'robotobold';
        font-size: rem(18px);
        line-height: 40px;
    }

    &__social {
        float: right;

        &__facebook {
            width: 40px;
            height: 40px;
            background: url('/img/icon_facebook.png');
        }

        &__linkin {
            width: 40px;
            height: 40px;
            background: url('/img/icon_linkin.png');
            margin: 0 0 0 10px;
        }
    }

    &__partner-container {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        @include respond-to-min($tabletSize) {
            display: inline-block;
        }

        a {
            margin: 10px 10px 10px;
            @include respond-to-min($tabletSize) {
                margin: 0 10px;
            }
        }
    }
}
