.record-number {
    background-image: url('/img/about-us-business-bottom-background.jpg');
}

.about-group__content-container {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
    position: relative;
    z-index: 1;
    transition-delay: 0.5s;

    &.record-number {
        .col-xs-12:last-child{
            .about-us-info{
                margin: 0;
            }
        }
    }

    .about-us-info {
        background: #fff;
        text-align: center;
        padding: 47px 0 51px;

        margin: 0 0 20px;

        @include respond-to-min($tabletSize) {
        }

        .about-us-icon {
            width: 78px;
            height: 78px;
            background-size: cover;
            margin: 0 auto 30px;
        }

        .statistic-number {
            font-size: rem(56px);
            line-height: rem(40px);
            font-family: robotoblack;
            color: #cedae1;
            letter-spacing: 2px;
            margin: 0 auto 10px;
            display: inline-block;
        }

        p {
            font-size: rem(14px);
            line-height: rem(22px);
            font-family: robotoblack;
            color: #333;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    .about-us-certified__infor {
        width: 100%;
        padding: 0 15px 0;
        float: left;

        @include respond-to-min($tabletSize) {
            width: 60%;
            padding: 0 15px 0 0;
        }

        .about-certified__header {
            font-family: 'latolight';
            color: #282828;
            padding: 0;
            margin: 0 0 20px;
            font-size: rem(20px);
            text-align: center;
            @include respond-to-min($tabletSize) {
                font-size: rem(20px);
                line-height: 30px;
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(26px);
                line-height: 35px;
                text-align: left;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(35px);
                line-height: 40px;
                margin: 0 0 50px;
            }

            span {
                font-family: 'latoregular';
            }
        }

        .about-certified__description {
            color: #6a7885;
            letter-spacing: 1px;
            font-weight: normal;
            font-family: 'robotolight';
            width: 90%;
            margin: 0;
            font-size: rem(16px);
            text-align: center;
            @include respond-to-min($tabletSize) {
                font-size: rem(16px);
                line-height: 25px;
                text-align: left;
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(18px);
                line-height: 30px;
                text-align: left;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(24px);
                line-height: 35px;
            }
        }
    }

    .about-us-certified__number {
        width: 100%;
        text-align: center;
        padding: 0 15px 0;
        float: left;

        @include respond-to-min($tabletSize) {
            width: 40%;
            padding: 0 0 0 15px;
        }

        .number__certified {
            font-family: 'robotoblack';
            padding: 0 0 10px 0;
            margin: 0;
            color: #cedae1;
            font-size: rem(200px);
            line-height: 200px;
            display: block;
            opacity: 0.6;
            @include respond-to-min($tabletSize) {
                font-size: rem(240px);
                line-height: 120px;
                padding: 0 0 50px 0;
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(300px);
                line-height: 150px;
                margin: 0 0 30px;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(357px);
                padding: 0 0 60px 0;
                line-height: 180px;
            }
        }

        p {
            color: #2c3e50;
            font-family: 'latoregular';
            font-size: rem(14px);
            line-height: 20px;
            margin: 0;
            padding: 16px 0 0;
            opacity: 0.5;
            @include respond-to-min($tabletSize) {
                line-height: 30px;
            }

            @include respond-to-min($desktopSize) {
                line-height: 35px;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(20px);
                line-height: 40px;
            }
        }
    }

    &.about-offices-block__container {
        background-color: #282828;
        text-align: center;
    }

    .yellow-divider {
        margin: 20px 0;

        @include respond-to-min($tabletSize) {
            margin: 30px 0;
        }
    }

    .about-offices-block__content {
        text-align: center;

        h3 {
            font-family: 'robotoblack';
            color: #fff;
            text-align: center;
            line-height: 35px;
            font-size: rem(24px);
            width: 95%;
            margin: 0 auto;

            @include respond-to-min($tabletSize) {
                font-size: rem(35px);
                line-height: 40px;
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(40px);
                line-height: 45px;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(56px);
                line-height: 60px;
            }
        }

        .yellow-divider{
            margin-top: 20px;
        }
    }

    .about-offices-block__bg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        display: none;

        @include respond-to-min($desktopSize) {
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .about-offices-block__image {
        display: inline-block;
        max-width: 80%;

        @include respond-to-min($desktopSize) {
            display: none;
        }
    }

    .about-offices-block__description {
        width: 90%;
        margin: 0 auto;
        position: relative;
        font-family: 'robotothin';
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 28px;
        font-size: rem(20px);
        padding: 20px 0;
        transition-delay: 1.5s;

        @include respond-to-min($tabletSize) {
            line-height: 40px;
            font-size: rem(28px);
        }

        @include respond-to-min($desktopSize) {
            width: 50%;
            left: 50%;
            margin-left: 30px;
            padding: 150px 0px 320px;
            line-height: 34px;
            font-size: rem(26px);
            text-align: left;
        }

        @include respond-to-min($laptopSize) {
            /*margin-left: 75px;
            padding: 200px 0px 320px;
            line-height: 60px;
            font-size: rem(46px);*/
            margin-left: 75px;
            padding: 200px 0px 320px;
            line-height: 40px;
            font-size: rem(32px);
        }

        span,b {
            color: #f9cd1f;
            font-family: 'robotoregular';
        }
        
    }
    @include respond-to-min($desktopSize) {
        & {
            padding: 110px 0;
        }
    }
}

/*Our mission - Our Vision*/

.our-mission-container {
    width: 100%;
    float: left;

    &:nth-child(2n) {
        .content-holder {
            float: right;
        }

        .big-image {
            float: left;
            text-align: left;
        }
    }

    &:nth-child(2n+1) {
        margin: 0 0 30px;
    }

    .content-holder {
        float: left;
        color: #6a7885;
        font-family: 'robotolight';
        width: 100%;
        padding: 0;
        font-size: rem(16px);
        line-height: rem(24px);

        @include respond-to-min($tabletSize) {
            font-size: rem(24px);
            line-height: rem(34px);
            padding: 40px 0 0;
            width: 65%;
        }

        @include respond-to-min($desktopSize) {
            padding: 40px 0 0;
            font-size: rem(24px);
            line-height: rem(40px);
        }

        @include respond-to-min($laptopSize) {
            width: 800px;
            padding: 80px 0 0;
        }

        h2 {
            font-family: 'robotoblack';
            color: #282828;
            padding: 0;
            margin: 0;
            font-size: rem(24px);
            line-height: rem(24px);

            @include respond-to-min($tabletSize) {
                font-size: rem(30px);
                line-height: rem(30px);
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(46px);
                line-height: rem(46px);
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(56px);
                line-height: rem(56px);
            }
        }

        .description {
            text-align: left;
        }
    }

    .big-image {
        float: right;
        text-align: right;
        position: relative;
        display: none;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        @include respond-to-min($tabletSize) {
            display: inline-block;
            width: 30%;
            text-align: right;
        }

        @include respond-to-min($desktopSize) {
            width: 265px;
        }

        @include respond-to-min($laptopSize) {
        }
    }
}

/*Section our value*/
.section-our-values {
    background: url('/img/bgOurValues.jpg') repeat-y center top;
    background-size: cover;
    text-align: center;



    .our-values-container {
        margin: 0 auto;
        text-align: left;

        .our-value-header {
            text-align: center;

            h2 {
                font-family: 'robotobold';
                color: #fff;
                margin: 0;
                font-size: rem(30px);
                @include respond-to-min($tabletSize) {
                    font-size: rem(35px);
                    line-height: rem(40px);
                }

                @include respond-to-min($desktopSize) {
                    font-size: rem(35px);
                    line-height: rem(40px);
                }

                @include respond-to-min($laptopSize) {
                    font-size: 3.5rem;
                    line-height: 3rem;
                }

                @include respond-to-min($bigScreen) {
                    font-size: 3.5rem;
                    line-height: 3rem;
                }
            }
        }

        .our-value-item {
            width: 100%;
            min-height: 210px;
            background: #fff;
            padding: 35px 40px;
            margin-bottom: 40px;

            & {
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        transition-delay: 200ms * $i;
                    }
                }
            }

            .value-index {
                font-family: 'robotoblack';
                color: #cedae1;
                font-size: rem(40px);
                line-height: 1;
                margin: 0 0 20px;
                padding: 0;
                float: left;
                width: 100%;
                text-align: center;
                @include respond-to-min($tabletSize) {
                    width: 90px;
                    padding: 0 0 25px;
                    font-size: 5rem;
                    line-height: 5rem;
                }

                @include respond-to-min($desktopSize) {
                    font-size: 7rem;
                    line-height: 7rem;
                    text-align: left;
                    margin: 0;
                }

                @include respond-to-min($laptopSize) {
                    font-size: rem(170px);
                    line-height: rem(123px);
                }

                @include respond-to-min($bigScreen) {
                    font-size: rem(170px);
                    line-height: rem(123px);
                }
            }

            .value-description {
                color: #a1b1bc;
                font-family: 'robotothin';
                text-align: justify;
                @include respond-to-min($tabletSize) {
                    padding: 0 0 0 90px;
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                }

                @include respond-to-min($desktopSize) {
                    padding: 0 0 0 100px;
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                    text-align: left;
                }

                @include respond-to-min($laptopSize) {
                    padding: 0 0 0 135px;
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                }

                @include respond-to-min($bigScreen) {
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                }

                h3 {
                    color: #2c3e50;
                    font-family: 'robotothin';
                    margin: 0;
                    padding: 0 0 15px;
                    text-align: center;
                    @include respond-to-min($tabletSize) {
                        font-size: 2rem;
                        line-height: 2rem;
                    }

                    @include respond-to-min($desktopSize) {
                        font-size: 2rem;
                        line-height: 2rem;
                        text-align: left;
                    }

                    @include respond-to-min($laptopSize) {
                        font-size: 2rem;
                        line-height: 2rem;
                    }

                    @include respond-to-min($bigScreen) {
                        font-size: 2rem;
                        line-height: 2rem;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*--- Socially Responsible ---*/
.about-socially-container {
    padding: 0 0 110px;
    background: #fff;

    .page-description__title-container {
        padding-bottom: 80px;
    }

    .page-description__description {
        text-align: justify;
        width: 100%;
    }

    .about-socially-image-container {
        margin: 0 0 80px 0;

        &::after {
            content: '';
            height: 1px;
            display: block;
            clear: both;
        }

        .about-socially-image {
            background-position: center top;
            background-size: cover;
        }

        .about-socially-image-left {
            width: 100%;
            float: left;

            @include respond-to-min($desktopSize) {
                width: 69.3%;
            }

            @include respond-to-min($laptopSize) {
            }

            @include respond-to-min($bigScreen) {
            }

            .about-socially-row {
                width: 100%;
                height: 270px;
                position: relative;
                transition-delay: 1s;

                @include respond-to-min($desktopSize) {
                    height: 250px;
                }

                @include respond-to-min($laptopSize) {
                    height: 270px;
                }

                .about-socially-image {
                    height: 270px;
                    width: 100%;
                    margin: 0 0 5px;
                    transition-delay: 1s;

                    @include respond-to-min($desktopSize) {
                        height: 250px;
                    }

                    @include respond-to-min($laptopSize) {
                        height: 270px;
                    }
                }

                &:nth-child(1) {
                    .about-socially-image {
                        &:nth-child(1) {
                            float: left;

                            @include respond-to-min($tabletSize) {
                                width: 33%;
                            }
                        }

                        &:nth-child(2) {
                            float: right;

                            @include respond-to-min($tabletSize) {
                                width: 66%;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .about-socially-image {
                        &:nth-child(1) {
                            float: left;

                            @include respond-to-min($tabletSize) {
                                width: 66%;
                            }
                        }

                        &:nth-child(2) {
                            float: right;

                            @include respond-to-min($tabletSize) {
                                width: 33%;
                            }
                        }
                    }
                }
            }
        }

        .about-socially-image-right {
            width: 100%;
            height: 270px;
            float: right;

            @include respond-to-min($tabletSize) {
                height: 540px;
            }

            @include respond-to-min($desktopSize) {
                height: 510px;
                width: 30%;
            }

            @include respond-to-min($laptopSize) {
                height: 550px;
            }
        }
    }
}

/*--- about community ---*/
.about-community-container {
    background: url('/img/about-us-community-background.png') repeat;
    text-align: center;

    h2 {
        color: #000;
        opacity: 0.4;
    }

    .yellow-divider {
        background-color: #000;
        opacity: 0.05;
    }

    .about-community__item {
        padding: 20px 0;
        width: 70%;
        margin: 0 auto;

        @include respond-to-min($desktopSize) {
            width: 55%;
        }

        img {
            margin: 0 auto 30px;
            display: block;
            width: auto;
        }

        h3 {
            color: #2e2c28;
            opacity: 0.5;
            font-family: 'latobold';
            font-size: rem(24px);
            line-height: rem(25px);
            margin: 0 0 20px;

            @include respond-to-min($tabletSize) {
                font-size: rem(24px);
                line-height: rem(30px);
                margin: 0 0 30px;
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(30px);
                line-height: rem(35px);
                margin: 0 0 50px;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(36px);
                line-height: rem(40px);
                margin: 0 0 70px;
            }
        }

        p {
            color: #282828;
            font-family: 'latoitalic';
            font-size: rem(16px);
            line-height: 1.7;
            margin: 0;
            padding: 0;

            @include respond-to-min($tabletSize) {
                font-size: rem(20px);
                line-height: rem(25px);
            }

            @include respond-to-min($desktopSize) {
                font-size: rem(20px);
                line-height: rem(25px);
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(24px);
                line-height: rem(30px);
            }
        }
    }

    .owl-prev {
        position: absolute;
        color: transparent;
        width: 20px;
        height: 36px;
        top: 50%;
        left: 10px;
        margin-top: -18px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: url('/img/arrow_left_carousel.png') no-repeat center center;
        background-size: auto 100%;

        @include respond-to-min($tabletSize) {
            left: 30px;
        }

        @include respond-to-min($desktopSize) {
            left: 70px;
            width: 31px;
            height: 57px;
            margin-top: -28px;
        }

        &:hover {
            background: url('/img/arrow_left_carousel_active.png') no-repeat center center;
            background-size: auto 100%;
        }
    }

    .owl-next {
        position: absolute;
        color: transparent;
        width: 20px;
        height: 36px;
        top: 50%;
        margin-top: -18px;
        right: 10px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: url('/img/arrow_right_carousel.png') no-repeat center center;
        background-size: auto 100%;

        @include respond-to-min($tabletSize) {
            right: 30px;
        }

        @include respond-to-min($desktopSize) {
            right: 80px;
            width: 31px;
            height: 57px;
            margin-top: -28px;
        }

        &:hover {
            background: url('/img/arrow_right_carousel_active.png') no-repeat center center;
            background-size: auto 100%;
        }
    }
}
