---
title: "About Community"
---
<div class="about-group">
    <div class="about-group__content-container">
        <div class="about-community-top-block__content">
            <div class="about-community__background" style="background: url(/img/about-us-community-background.png) repeat">
                <h3>Community Partners</h3>
                <span class="yellow-divider" style="opacity:0.5"></span>
            </div>
            
        </div>
    </div>
</div>