---
title: "About Community"
---

<div class="about-group__content-container about-community-container">
    <h2 class="header-title-section">Community Partners</h2>
    <div class="yellow-divider"></div>
    <div class="about-community-slider__initial" data-require="base/carousel-slider">
        <div class="about-community-slider__container">
            <div class="about-community__item">
                <img src="/img/about-us-community-emw.jpg" alt="" />
                <h3>East Meets West</h3>
                <p>
                    East Meets West is a non-governmental organization that runs education and healthcare programs throughout Vietnam for the benefit of the Vietnamese youth.  Through their efforts, we are able to support projects such as Heart of Linnea, which raises funds for the heart operation of poor Vietnamese children.
                </p>
            </div>
            <div class="about-community__item">
                <img src="/img/about-us-community-emw.jpg" alt="" />
                <h3>East Meets West</h3>
                <p>
                    East Meets West is a non-governmental organization that runs education and healthcare programs throughout Vietnam for the benefit of the Vietnamese youth.  Through their efforts, we are able to support projects such as Heart of Linnea, which raises funds for the heart operation of poor Vietnamese children.
                </p>
            </div>
        </div>
    </div>
</div>