---
title: "About Business"
---

<div class="about-group__content-container" style="background-image:url('/img/about-us-business-bottom-background.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-employees-icon.png')"></div>
                    <span class="statistic-number" id="about-us-employees">189</span>
                    <p>EMPLOYEES</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-project-complete.png')"></div>
                    <span class="statistic-number" id="about-us-projects">356</span>
                    <p>PROJECTS COMPLETED</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-happy-clients.png')"></div>
                    <span class="statistic-number" id="about-us-clients">56</span>
                    <p>HAPPY CLIENTS</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-raised.png')"></div>
                    <span class="statistic-number" id="about-us-raised">3500</span>
                    <p>RAISED FOR CHARITY</p>
                </div>
            </div>
        </div>
    </div>
</div>
