---
title: "About Socially"
---
<div class="about-socially-container container-zindex-one">
    {{> _page-description about_us.socially}}

    <div class="container">
        <div class="about-socially-image-container">
            <div class="about-socially-image-left checking-animate inactive slide-in-from-left">
                <div class="about-socially-row">
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-1.jpg');">
                    </div>
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-2.jpg');">
                    </div>
                </div>
                <div class="about-socially-row">
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-3.jpg');">
                    </div>
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-nicef.jpg');">
                    </div>
                </div>
            </div>
            <div class="about-socially-image about-socially-image-right checking-animate inactive slide-in-from-right" style="background-image: url('/img/about-us-socially-img-4.jpg');">
            </div>
        </div>

        <div class="page-description__description checking-animate inactive slide-in-from-bottom">
            Niteco has been in Vietnam for five years, and has empowered our employees to bring about change. NICEF is our employee-run charity foundation, which provided funding for 3 childrens' heart surgery and 200 children with cleft palates, built schools for remote communities, donated clothing and supplies to students, and assisted homeless people in urban areas - in its first year alone!
            NICEF has funded and participated in meaningful campaigns for Blue Dragons, East Meets West, HeartofLinnea, and Operation Smile.
            For more informaton on NICEF please go to charity.niteco.se or www.facebook.com/nitecoCharity
        </div>
    </div>
</div>