---
title: "About Socially"
---
<div class="about-socially-container container-zindex-one">
    {{> _page-description about_us.socially}}

    <div class="container">
        <div class="about-socially-image-container">
            <div class="about-socially-image-left">
                <div class="about-socially-row">
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-1.jpg');">
                    </div>
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-2.jpg');">
                    </div>
                </div>
                <div class="about-socially-row">
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-3.jpg');">
                    </div>
                    <div class="about-socially-image" style="background-image: url('/img/about-us-socially-img-nicef.jpg');">
                    </div>
                </div>
            </div>
            <div class="about-socially-image about-socially-image-right" style="background-image: url('/img/about-us-socially-img-4.jpg');">
            </div>
        </div>

        <div class="page-description__description">
            Niteco has an employee-run charity foundation which holds regular fund-raising events, and sponsors meaningful activities to assist less-fortunate lives throughout Vietnam. We have built schools for remote communities, donated clothing and supplies to children, and provided assistance to
            homeless people in cities.
        </div>
    </div>
</div>