---
title: "About Community"
---

<div class="about-group__content-container about-community-container">
    <h2 class="header-title-section">Community Partners</h2>
    <div class="yellow-divider"></div>
    <div class="about-community-slider__initial" data-require="base/carousel-slider">
        <div class="about-community-slider__container">
            <div class="about-community__item">
                <img src="/img/about-us-community-emw.jpg" alt="" />
                <h3>East Meets West</h3>
                <p>
                    East Meets West is a non-governmental organization that runs education and healthcare programs for the benefit of Vietnamese youths. Niteco has supported a number of their projects - most notably Heart of Linnea, which funds heart surgeries for children in need.
                </p>
            </div>
            <div class="about-community__item">
                <img src="/img/about-us-community-emw.jpg" alt="" />
                <h3>Blue Dragon</h3>
                <p>
                    Blue Dragon is an Australian grassroots charity working with kids in crisis throughout Vietnam. Education is at the heart of everything they do. Blue Dragon sets out to transform the lives of the poorest children and families through their various activities.
                </p>
            </div>
            <div class="about-community__item">
                <img src="/img/about-us-community-emw.jpg" alt="" />
                <h3>Operation Smile</h3>
                <p>
                    Established in 1982, Operation Smile's mission is to provide kids with cleft lips or cleft palates with exceptional surgical care. As of 2013, it had brought about 3.5 million comprehensive patient evaluations and 200,000+ free surgeries in over 60 countries.
                </p>
            </div>
        </div>
    </div>
</div>