---
title: "About Business"
---

<div class="about-group__content-container record-number">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-employees-icon.png')"></div>
                    <span class="statistic-number" id="about-us-employees" data-count="189">0</span>
                    <p>EMPLOYEES</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-project-complete.png')"></div>
                    <span class="statistic-number" id="about-us-projects" data-count="356">0</span>
                    <p>PROJECTS COMPLETED</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-happy-clients.png')"></div>
                    <span class="statistic-number" id="about-us-clients" data-count="56">0</span>
                    <p>HAPPY CLIENTS</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="about-us-info">
                    <div class="about-us-icon" style="background-image: url('/img/about-us-raised.png')"></div>
                    <span class="statistic-number" id="about-us-raised" data-count="3500">0</span>
                    <p>RAISED FOR CHARITY</p>
                </div>
            </div>
        </div>
    </div>
</div>
