---
title: "About Offices"
---
<div class="about-group__content-container about-offices-block__container">
    <div class="about-offices-block__bg" style="background-image:url('/img/about-us-offices.jpg');">
    </div>

    <div class="about-offices-block__content container-zindex-one">
        <h3>Our offices are located in the USA, Sweden, HongKong and VietNam</h3>
        <div class="yellow-divider"></div>
    </div>
    <img class="about-offices-block__image" src="/img/iPad.png" alt=""/>
    <div class="container container-zindex-one">
        <div class="about-offices-block__description">
            Young but highly experienced, we are a <span>software development company</span> on the rise
        </div>
    </div>
</div>