---
title: "About Certified"
---

<div class="about-group__content-container">
    <div class="container">
        <div class="about-us-certified__infor">
            <span class="about-certified__description">We Have the Largest Number of <span>EPiServer Certified Developers</span> in the World!</span>
            <p>Over the past five years, we have built ourselves a large portfolio of different technology disciplines. Most prominent of them is EPiServer.</p>
        </div>
        <div class="about-us-certified__number">
            <span class="number__certified checking-animate inactive rotate-zooming">88</span>
            <p>CERTIFIED EPISERVER DEVELOPERS</p>
        </div>
    </div>
</div>