---
title: "About Socially"
---
<div class="about-group">
    <div class="about-group__content-container">
        <div class="about-socially-top-block__content">
            <h3>SOCIALLY RESPONSIBLE</h3>
            <p class="about-strategies">Environmentally Aware</p>
            <span class="yellow-divider"></span>
            <p class="about-socially-description">
                Our Scandinavian roots call out for us to hold responsibilities with the society and the environment.
                Our power to bring sustainability to people and communities motivates us to do even better.
            </p>
            <div class="about-socially-image">
                <div class="about-socially-image__left">
                    <img src="/img/about-us-socially-img-1.jpg" />
                    <img src="/img/about-us-socially-img-2.jpg" />
                    <img src="/img/about-us-socially-img-3.jpg" />
                    <img src="/img/about-us-socially-img-nicef.jpg" />
                </div>
                <div class="about-socially-image__right">
                    <img src="/img/about-us-socially-img-4.jpg"/>
                </div>
            </div>
            <p class="about-socially-description" style="margin-bottom: 120px;">
                Niteco has an employee-run charity foundation which holds regular fund-raising events, and sponsors meaningful activities to assist less-fortunate lives throughout Vietnam. We have built schools for remote communities, donated clothing and supplies to children, and provided assistance to
                homeless people in cities.
            </p>
        </div>
    </div>
</div>