<section class="about-group__content-container">
  <div class="container">
    <div class="our-mission-container">
      <div class="content-holder">
        <h2>Our Mission</h2>
        <div class="yellow-divider"></div>
        <div class="description">To become a leading partner in providing IT solutions such as web development and mobile applications known for high quality, timely delivery, and excellent cost-efficiency for the global market.</div>
      </div>
      <div class="big-image">
        <img src="/img/iconRocket.png" />
      </div>
    </div>
    <div class="our-mission-container">
      <div class="content-holder">
        <h2>Our Vision</h2>
        <div class="yellow-divider"></div>
        <div class="description">We stand behind every development project by focusing on getting the best skills available and being flexible and transparent, capable of adapting to various customer requirements within the ever changing IT environment.</div>
      </div>
      <div class="big-image">
        <img src="/img/iconKinhLup.png" />
      </div>
    </div>
  </div>
</section>