<section class="about-group__content-container">
  <div class="container">
    <div class="our-mission-container">
      <div class="content-holder">
        <h2>Our Mission</h2>
        <div class="yellow-divider"></div>
        <div class="description">We stand behind every development project as its solid technology foundation - built on skillful people and refined services. In the ever-changing tech scene, we aim to be flexible, transparent, agile, and responsive to a project's every need.</div>
      </div>
      <div class="big-image">
          <img src="/img/iconRocket.png" class="checking-animate inactive rocket-fly" alt="our-mission" />
      </div>
    </div>
    <div class="our-mission-container">
        <div class="content-holder">
            <h2>Our Vision</h2>
            <div class="yellow-divider"></div>
            <div class="description">To unite and grow great people, perfect high-quality processes, create cutting-edge software, and become a leading partner in providing technology services to clients all over the world.</div>
        </div>
      <div class="big-image">
          <img src="/img/iconKinhLup.png" class="checking-animate inactive  slide-in-from-left" alt="our-vission" />
      </div>
    </div>
  </div>
</section>