<section class="about-group__content-container section-our-values">
  <div class="our-values-container container">
      <div class="our-value-header">
        <h2>Our Tried-and-true Values</h2>
        <div class="yellow-divider"></div>
      </div>
      <div class="our-value-item col-xs-12 checking-animate inactive fade-in">
        <div class="value-index">1</div>
        <div class="value-description">
          <h3>Transparency and Flexibility</h3>
            We value our clients' trust more than anything. Communication with our clients is completely open, honest, and proactive. We have also made our processes incredibly flexible. You can choose the technology sets, partnership models, or delivery methods most suitable to your business.
        </div>
      </div>
      <div class="our-value-item col-xs-12  checking-animate inactive fade-in">
          <div class="value-index">2</div>
          <div class="value-description">
              <h3>Constant Improvement and Adaptability</h3>
              In the ever-changing field of software development, this value is the key to staying ahead of the curve. We do not focus on a single technology. Instead, we expose ourselves to as many good technologies as possible, learn from them, and master our skill sets along the way.
          </div>
      </div>
      <div class="our-value-item col-xs-12  checking-animate inactive fade-in">
          <div class="value-index">3</div>
          <div class="value-description">
              <h3>Efficiency and High Quality</h3>
              Our well-established reputation is fueled by crucial insights and experience working with clients on-shore, off-shore, and dual-shore. We know how to deliver quality projects on time and how to use resources efficiently. Alongside continuous learning and strong work ethics, this creates high quality results within a tightly managed timeline.
          </div>
      </div>
      <div class="our-value-item col-xs-12  checking-animate inactive fade-in">
          <div class="value-index">4</div>
          <div class="value-description">
              <h3>Respect and Professionalism</h3>
              As a global technology company, we are present in many countries and have clients and employees with different cultural and professional backgrounds. We take culture and respect for each individual to heart in all our interactions, internally and externally. We have high standards for professionalism throughout our operations, and always strive to meet them.
          </div>
      </div>
      <div class="our-value-item col-xs-12  checking-animate inactive fade-in">
          <div class="value-index">5</div>
          <div class="value-description">
              <h3>Social and Environmental Responsibility</h3>
              Our deep commitment to social responsibility and the environment is an integral part of our company’s value system. We have an extremely active company charity organisation and provide employees with comprehensive healthcare.
          </div>
      </div>
  </div>
</section>