<section class="about-group__content-container section-our-values">
  <div class="our-values-container container">
    <div class="row">
      <div class="our-value-header">
        <h2>Our Values</h2>
        <div class="yellow-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="our-value-item col-xs-12">
        <div class="value-index">1</div>
        <div class="value-description">
          <h3>Project Scalability</h3>
          Project Scalability: Technologies, processes and resources are adaptable to both immediate and future needs of your system - whatever capacity it may be.
        </div>
      </div>
      <div class="our-value-item col-xs-12">
        <div class="value-index">2</div>
        <div class="value-description">
          <h3>Flexibility & Transparency</h3>
          There are almost no limits to working with Niteco. You can choose the right technology sets, partnership models, or delivery methods most suitable to your business. Communication between us will be completely open, transparent and honest.
        </div>
      </div>
      <div class="our-value-item col-xs-12">
        <div class="value-index">3</div>
        <div class="value-description">
          <h3>High Quality Processes</h3>
          Our well-established history of work has given us crucial insights on how to work with clients both on-site and off-site. We employ only the best practices in software development and IT Service Management.
        </div>
      </div>
      <div class="our-value-item col-xs-12">
        <div class="value-index">4</div>
        <div class="value-description">
          <h3>Value For Money</h3>
          part from offices all over the world, our main development site in Hanoi has many cost advantages. The quality and quantity of Science and IT graduates here allows you to get  significantly more work done for the same budget as in your local market.
        </div>
      </div>
      <div class="our-value-item col-xs-12">
        <div class="value-index">5</div>
        <div class="value-description">
          <h3>Technical Competency</h3>
          We have a huge pool of talent on both current and emerging technologies, whether you need a widely popular and standard skill set, or a highly specialized and expert one. Each year, we invest heavily in training and development to amplify our team's competency.
        </div>
      </div>
    </div>
  </div>
</section>