
<div class="service-item-detail__container">
    <img class="service-item-detail__image" src="{{imgUrl}}" alt="" />
    
        <div class="container">
            <div class="service-item-detail__content">
                <div class="service-item-detail__title">{{bigTitle}}</div>
                <div class="orange-divider service-listing__yellow-underline">
                </div>
                <div class="service-item-detail__description">
                    {{{fullDescription}}}
                </div>
            </div>
        </div>
</div>
