
<div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
    <span class="service-technology-column__title">{{title}}</span>
    <ul>
        {{#each contents}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>