<section class="section-our-contact-form container-zindex-one" data-require="base/contact-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Here’s Your Ticket to Tech Bliss. Drop Us a Line: </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <span class="input input--minoru">
                    <input class="input__field input__field--yoko" type="text" id="input-16" placeholder="Street" />
                    <label class="input__label input__label--yoko" for="input-16">
                        <span class="input__label-content input__label-content--yoko"></span>
                    </label>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <span class="input input--minoru">
                    <input class="input__field input__field--yoko" type="text" id="input-17" placeholder="Street" />
                    <label class="input__label input__label--yoko" for="input-17">
                        <span class="input__label-content input__label-content--yoko"></span>
                    </label>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <span class="input input--minoru">
                    <input class="input__field input__field--yoko" type="text" id="input-18" placeholder="Street" />
                    <label class="input__label input__label--yoko" for="input-18">
                        <span class="input__label-content input__label-content--yoko"></span>
                    </label>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-push-8">
                <span class="input input--minoru">
                    <input class="input__field input__field--yoko" type="text" id="input-18" placeholder="Street" />
                    <label class="input__label input__label--yoko" for="input-18">
                        <span class="input__label-content input__label-content--yoko"></span>
                    </label>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-pull-4">
                <textarea class="input__field input__field--yoko" name="message" placeholder="Street"></textarea>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-push-8">
                <div class="submit-field">
                    <input type="submit" name="submit" value="Submit Request" />
                </div>
            </div>

            <div class="col-xs-12">
                <section>

                    <div class="cs-select cs-skin-elastic" tabindex="0">
                        <span class="cs-placeholder">Select a Country</span><div class="cs-options"><ul><li class="flag-france" data-option="" data-value="france"><span>France</span></li><li class="flag-brazil" data-option="" data-value="brazil"><span>Brazil</span></li><li class="flag-argentina" data-option="" data-value="argentina"><span>Argentina</span></li><li class="flag-safrica" data-option="" data-value="south-africa"><span>South Africa</span></li></ul></div><select class="cs-select cs-skin-elastic">
                            <option value="" disabled="" selected="">Select a Country</option>
                            <option value="france" data-class="flag-france">France</option>
                            <option value="brazil" data-class="flag-brazil">Brazil</option>
                            <option value="argentina" data-class="flag-argentina">Argentina</option>
                            <option value="south-africa" data-class="flag-safrica">South Africa</option>
                        </select>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
