.contact-us-page {
	height: 100%;
}

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}

.map-office-section {
	padding-top: 85px;

	@include respond-to-max($desktopSize) {
		padding-top: 60px;
	}
}

#google-container {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: #e7eaf0;
}


#cd-google-map {
	position: relative;
}

#cd-google-map address {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 1em 1em;
	background-color: rgba(211, 104, 104, 0.9);
	color: white;
	font-size: 13px;
	font-size: 0.8125rem;
}

@media only screen and (min-width: 768px) {
	#cd-google-map address {
		font-size: 15px;
		font-size: 0.9375rem;
		text-align: center;
	}
}

#cd-zoom-in, #cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-color: rgba(211, 104, 104, 0.9);
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url("/img/cd-icon-controller.svg");
}

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
	background-color: #d36868;
}

@media only screen and (min-width: 768px) {
	#cd-zoom-in, #cd-zoom-out {
		margin-left: 50px;
	}
}

#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px;
}

@media only screen and (min-width: 768px) {
	#cd-zoom-in {
		margin-top: 50px;
	}
}

#cd-zoom-out {
	background-position: 50% -32px;
}



/*Our locations*/
.section-our-locations {
	.location-item {
		background: #fff;
		display: block;

		.location-image, .location-info {
			position: relative;
			display: block;
			min-height: 220px;

			&.social-links {
				min-height: 280px;
			}
		}

		.location-image {
			background: #a1b1bc;
			overflow: hidden;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.location-info {
			background: #f5f5f5;
			padding: rem(40px) rem(24px);


			@include respond-to-min($tabletSize) {
			
				position: relative;
				display: table-cell;
				min-height: 315px;

				&.social-links {
					min-height: 315px;
				}
			}

			@include respond-to-min($desktopSize) {
				position: relative;
				display: table-cell;
				min-height: 315px;

				&.social-links {
					min-height: 315px;
				}
			}

			@include respond-to-min($laptopSize) {
				position: relative;
				display: table-cell;
				min-height: 315px;
				margin-bottom: 0;
				&.social-links {
					min-height: 315px;
				}
			}
			@include respond-to-min($bigScreen) {
				padding: rem(40px) rem(24px);
			}

			.location-title {
				font-family: 'robotoblack';
				color: #2c3e50;
				display: block;
				text-transform: uppercase;
				padding-bottom: 20px;

				@include respond-to-min($desktopSize) {
					font-size: rem(25px);
					line-height: 1;
				}

				@include respond-to-min($laptopSize) {
					font-size: rem(20px);
					line-height: 1;
				}
				@include respond-to-min($bigScreen) {
					font-size: rem(25px);
					line-height: 1;
				}
			}

			.location-address {
				color: #a1b1bc;
				font-family: "robotoregular";
				display: block;

				@include respond-to-min($desktopSize) {
					font-size: rem(15px);
					line-height: rem(25px);
				}

				@include respond-to-min($laptopSize) {
					font-size: rem(15px);
					line-height: rem(25px);
				}
			}

			.contact-info {
				position: absolute;
				bottom: 40px;
				font-size: rem(20px);
				line-height: rem(28px);
				font-family: "robotolight";

				@include respond-to-min($laptopSize) {
					font-size: rem(16px);
				}
				@include respond-to-min($bigScreen) {
					font-size: rem(20px);
				}

				a {
                    text-decoration: none;
                    margin-bottom: 5px;
					display: block;
                    font-size: rem(18px);
                    color: #a1b1bc;
                    font-family: "robotobold";
                    i {
                        color: #a1b1bc;
                        margin-right: 20px;
                        width: 25px;
                        text-align: center;
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -5px;
                    }

                    &:hover {
                        color: #2c3e50;
                        i {
                            color: #2c3e50;
                        }
                    }
                    &.iconMail {
                        font-family: "robotobold";
					    display: inline-block;
					    vertical-align: middle;
					    font-weight: normal;
                        i {
                            font-size: rem(19px);
                        }
                    }
                    &.iconTel {
                        i {
                            font-size: rem(22px);
                        }
                        font-family:robotolight;
                        color: #2c3e50;
                        &:hover {
                            color: #2c3e50;
                            i {
                                color: #a1b1bc;
                            }
                        }
                    }
                    &.icon-map {
                        i {
                            font-size: rem(26px);
                        }
                    }
                    &.social-button {
                        i {
                            font-size: rem(22px);
                        }
                    }
				}
			}

			&.social-links .contact-info {
				a {
					margin-top: 10px;
					display: block;
					color: #a1b1bc;

					b {
						color: #a1b1bc;
					}

					&:hover, &:focus {
						text-decoration: none;

						b {
							color: #2c3e50;
						}
					}
				}
			}
		}

		@include respond-to-min($tabletSize) {
			font-size: 1.5rem;

			display: table;

			.location-image {
				position: relative;
				display: table-cell;
				min-height: 315px;

				&.social-links {
					min-height: 315px;
				}
			}
		}

		@include respond-to-min($desktopSize) {
			display: table;

			.location-image {
				position: relative;
				display: table-cell;
				min-height: 315px;

				&.social-links {
					min-height: 315px;
				}
			}
		}

		@include respond-to-min($laptopSize) {
			display: table;

			.location-image {
				position: relative;
				display: table-cell;
				min-height: 315px;

				&.social-links {
					min-height: 315px;
				}
			}

			.location-image {
				margin-bottom: 0;

				img {
					max-height: 315px;
				}
			}
		}
	}
}
