<section class="map-office-section container-zindex-one" data-locations="[['Causeway Bay, HongKong', 22.278495, 114.182337, 5],['Palm Desert, CA 92260, USA', 33.768868, -116.379616, 4],['Stockholm, Sweden', 59.342512, 18.051734, 3],['Ho Chi Minh city, Vietnam', 10.801444, 106.640735, 2], ['Ha Noi, Vietnam',21.013852, 105.831667, 1]]">
    <div id="cd-google-map">
        <div id="google-container"></div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
    </div>
</section>


    
