<section class="map-office-section container-zindex-one" data-locations="[['Causeway Bay, HongKong', 22.2859787, 114.1914919, 5],['Palm Desert, CA 92260, USA', 33.6917281, -116.4075854, 4],['Stockholm, Sweden', 59.3294, 18.0686, 3],['Ho Chi Minh city, Vietnam', 10.7500, 106.6667, 2], ['Ha Noi, Vietnam', 21.0285, 105.8542, 1]]">
    <div id="cd-google-map">
        <div id="google-container"></div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
    </div>
</section>


    
