<section class="section-our-locations container-fluid container-zindex-one">
    <div class="row location-item">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">Hanoi</span>
            <span class="location-address">
              C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>info@niteco.com</b>
                <br />
                <i class="iconTel"></i> +84 (0)4-3573-9623 
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/contact-hcm.jpg') no-repeat center center / cover ;">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">Ho Chi Minh City</span>
            <span class="location-address">
                Unit 2.3, 2nd Floor, E.Town Building 1, 364 Cong Hoa Street, Ward 13, Tan Binh District, Ho Chi Minh City, Vietnam
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>info@niteco.com</b>
                <br />
                <i class="iconTel"></i> +84 (0)4-3573-9623
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/contact-stockholm.jpg') no-repeat center center / cover ;">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">Stockholm</span>
            <span class="location-address">
                Norrtullsgatan 6, 5tr, SE-113 29 Stockholm, Sweden | Per Rask, Country Manager Nordics |  
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>info@niteco.com</b>
                <br />
                <i class="iconTel"></i> +46 (0)700-35 58 30 
            </div>
        </div>
        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">Hanoi</span>
            <span class="location-address">
              C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>info@niteco.com</b>
                <br />
                <i class="iconTel"></i> +84(0)888-8888
            </div>
        </div>-->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">California</span>
            <span class="location-address">
                38505 Bautista Canyon Way, Palm Desert, CA 92260, USA
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>usa.info@niteco.se</b>
                <br />
                <i class="iconTel"></i> +1 333-333-3000 
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/contact-palm-desert.jpg') no-repeat center center / cover ;">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info">
            <span class="location-title">Hong Kong</span>
            <span class="location-address">
                36/F, Tower Two, Times Square, 1 Matheson Street, Causeway Bay, Hong Kong
            </span>
            <div class="contact-info">
                <i class="iconMail"></i> <b>hk.info@niteco.se</b>
                <br />
                <i class="iconTel"></i> +84(0)888-8888
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/contact-causeway-bay.jpg') no-repeat center center / cover ;">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-info social-links">
            <span class="location-title">Stay connected</span>
            <span class="location-address">
              Now that you've gotten to know us,
              we would love to get to know you too.
            </span>
            <div class="contact-info">
                <a href="#"><i class="iconFB"></i> <b>Like us on Facebook</b></a>
                <a href="#"><i class="iconTwiiter"></i> <b>Follow us on Twitter</b></a>
                <a href="#"><i class="iconLinkedIn"></i> <b>Add us on LInkedIn</b></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 no-gutter location-image" style="background: url('/img/office-img.jpg') no-repeat center center / cover ;">
        </div>
    </div>
</section>