<section class="section-our-locations">
    <div class="first-row">
        <div class="location-item">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Hanoi</span>
                <span class="location-address">
                    C’Land Tower, 14th Floor,
                    156 Xa Dan II Street Dong Da District,
                    Hanoi, Vietnam
                </span>  
                <div class="contact-info">
                    <i class="iconMail"></i> <b>info@niteco.com</b>
                    <br />
                    <i class="iconTel"></i> +84(0)888-8888
                </div>
            </div>
        </div>
        <div class="location-item">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Hanoi</span>
                <span class="location-address">
                    C’Land Tower, 14th Floor,
                    156 Xa Dan II Street Dong Da District,
                    Hanoi, Vietnam
                </span>
                <div class="contact-info">
                    <i class="iconMail"></i> <b>info@niteco.com</b>
                    <br />
                    <i class="iconTel"></i> +84(0)888-8888
                </div>
            </div>
        </div>
        <div class="location-item">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Hanoi</span>
                <span class="location-address">
                    C’Land Tower, 14th Floor,
                    156 Xa Dan II Street Dong Da District,
                    Hanoi, Vietnam
                </span>
                <div class="contact-info">
                    <i class="iconMail"></i> <b>info@niteco.com</b>
                    <br />
                    <i class="iconTel"></i> +84(0)888-8888
                </div>
            </div>
        </div>
    </div>
    <div class="second-row">
        <div class="location-item">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Hanoi</span>
                <span class="location-address">
                    C’Land Tower, 14th Floor,
                    156 Xa Dan II Street Dong Da District,
                    Hanoi, Vietnam
                </span>
                <div class="contact-info">
                    <i class="iconMail"></i> <b>info@niteco.com</b>
                    <br />
                    <i class="iconTel"></i> +84(0)888-8888
                </div>
            </div>
        </div>
        <div class="location-item">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Hanoi</span>
                <span class="location-address">
                    C’Land Tower, 14th Floor,
                    156 Xa Dan II Street Dong Da District,
                    Hanoi, Vietnam
                </span>
                <div class="contact-info">
                    <i class="iconMail"></i> <b>info@niteco.com</b>
                    <br />
                    <i class="iconTel"></i> +84(0)888-8888
                </div>
            </div>
        </div>
        <div class="location-item social-link">
            <div class="location-image"></div>
            <div class="location-info">
                <span class="location-title">Stay connected</span>
                <span class="location-address">
                    Where do you hang out online?Check out our social media pages:
                </span>  
                <div class="contact-info">
                    <i class="iconFB"></i> <b>Like us on Facebook</b>
                    <br />
                    <i class="iconTwiiter"></i> <b>Follow us on Twitter</b>
                    <br />
                    <i class="iconLinkedIn"></i> <b>Add us on LInkedIn</b>
                </div>
            </div>
        </div>
    </div>
</section>