<section class="section-our-locations container-fluid container-zindex-one">
    <div class="row location-item">
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 no-gutter location-image">
                  <img src="/img/contact-hanoi.jpg" alt=""/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="icon-map" href="javascript:void(0);"><i class="fa fa-map-marker"></i>view map</a>
                        <a href="mailto:info@niteco.com" class="iconMail"><i class="fa fa-envelope"></i>info@niteco.com</a>
                        <a href="tel:+84435739623" class="iconTel"><i class="fa fa-phone-square"></i>+84 (0)4-3573-9623</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 col-lg-push-0 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6 col-lg-pull-0 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="icon-map" href="javascript:void(0);"><i class="fa fa-map-marker"></i>view map</a>
                        <a href="mailto:info@niteco.com" class="iconMail"><i class="fa fa-envelope"></i>info@niteco.com</a>
                        <a href="tel:+84435739623" class="iconTel"><i class="fa fa-phone-square"></i>+84 (0)4-3573-9623</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="icon-map" href="javascript:void(0);"><i class="fa fa-map-marker"></i>view map</a>
                        <a href="mailto:info@niteco.com" class="iconMail"><i class="fa fa-envelope"></i>info@niteco.com</a>
                        <a href="tel:+84435739623" class="iconTel"><i class="fa fa-phone-square"></i>+84 (0)4-3573-9623</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="icon-map" href="javascript:void(0);"><i class="fa fa-map-marker"></i>view map</a>
                        <a href="mailto:info@niteco.com" class="iconMail"><i class="fa fa-envelope"></i>info@niteco.com</a>
                        <a href="tel:+84435739623" class="iconTel"><i class="fa fa-phone-square"></i>+84 (0)4-3573-9623</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-push-6 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-pull-6 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="icon-map" href="javascript:void(0);"><i class="fa fa-map-marker"></i>view map</a>
                        <a href="mailto:info@niteco.com" class="iconMail"><i class="fa fa-envelope"></i>info@niteco.com</a>
                        <a href="tel:+84435739623" class="iconTel"><i class="fa fa-phone-square"></i>+84 (0)4-3573-9623</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 no-gutter location-image" style="background: url('/img/contact-hanoi.jpg') no-repeat center center / cover ;"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6 no-gutter location-info">
                    <span class="location-title">Hanoi</span>
                    <span class="location-address">
                        C’Land Tower, 14th Floor, 156 Xa Dan II Street Dong Da District, Hanoi, Vietnam
                    </span>
                    <div class="contact-info">
                        <a class="social-button" href="#"><i class="fa fa-facebook "></i>like us on Facebook</a>
                        <a href="#" class="social-button"><i class="fa fa-twitter"></i>follow us on Twitter</a>
                        <a href="#" class="social-button"><i class="fa fa-linkedin"></i>add us on LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>