<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
		<staticContent>
			<mimeMap fileExtension=".m4a" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".kml" mimeType="text/xml" />
			<mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			
			<remove fileExtension=".woff" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".woffs" />
			
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
    </system.webServer>
</configuration>