
<div class="how-we-work-partnership container-zindex-one">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 checking-animate inactive fade-in">
                <h1>Our Partnership Model Options</h1>
                <div class="yellow-divider"></div>
            </div>
        </div>
        <div class="how-we-work-partnership__content">
            <div class="row content-models">
                <div class="col-xs-12 col-md-6 checking-animate inactive fade-in">
                    <div class="partnership-models">
                        <div class="partnership-models__title">
                            Managed Resource Team (MRT)
                        </div>

                        <p class="partnership-models__description">
                            This option provides you with full, comprehensive service from our team.
                            Flexible resourcing, full commitment, and nothing but the best of our talents will get results beyond your expectations.
                        </p>
                        <ul class="how-we-work-partnership_list">
                            <li>Onshore, offshore, or dual-shore team</li>
                            <li>Oversight and support from a program manager and our PMO group</li>
                            <li>A standard team consists of developers, technical project manager, and tester (team assembly is adjustable)</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 checking-animate inactive fade-in">
                    <div class="partnership-models">
                        <div class="partnership-models__title">
                            Project
                        </div>

                        <p class="partnership-models__description">
                            Try working with us on a project basis to get a taste of the Niteco brilliance. Also suitable if you have a one-off project requirement.
                            Like most of our previous clients, chances are you'll sign up for a long-term partnership afterwards anyway.
                            We're flexible:
                        </p>
                        <ul class="how-we-work-partnership_list">
                            <li>Fixed price</li>
                            <li>Fixed scope</li>
                            <li>Running bill</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row checking-animate inactive fade-in">
                <div class="col-xs-12">
                    <p class="how-we-work-partnership_text">
                        We are completely flexible. You can have us as your own team, as an addition to your team, or as your current team's support system.
                        Let us know what you need, and we will figure out the partnership model that will ensure maximum productivity.
                    </p>
                </div>
            </div>
            {{> _view-more-block view_more_block.how_we_work_view_more}}
        </div>

    </div>
</div>