
<div class="how-we-work-partnership container-zindex-one">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Partnership Models</h1>
                <div class="yellow-divider"></div>
            </div>
        </div>
        <div class="how-we-work-partnership__content">
            <div class="row content-models">
                <div class="col-xs-12 col-md-6">
                    <div class="partnership-models">
                        <div class="partnership-models__title">
                            Managed Resource Team
                        </div>

                        <p class="partnership-models__description">
                            This option provides you with full, comprehensive service from our team.
                            Flexible resourcing, full commitment and nothing but the best of our talents will get results beyond your expectations.
                        </p>
                        <ul class="job-requires_list">
                            <li>Onshore, Offshore, or Dual-Shore Team</li>
                            <li>Oversight and Support From a Program Manager and our PMO group</li>
                            <li>A Standard Team consists of Developers, Technical Project Manager, and Tester (Team Assembly is Adjustable)</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="partnership-models">
                        <div class="partnership-models__title">
                            Fixed Price Projects
                        </div>

                        <p class="partnership-models__description">
                            Try working with us on a project basis to get a taste of the Niteco brilliance.
                            Like most of our previous clients, chances are you'll sign up for a long-term partnership afterwards anyway.
                        </p>
                        <ul class="job-requires_list">
                            <li>Lock the Total Price of the Project Upfront</li>
                            <li>New Ideas Are Rarely Incorporated</li>
                            <li>Higher Cost</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="how-we-work-partnership_text">
                        Our whole-hearted dedication means we'll always come through for you.
                        You can have us as your own team, as an addition to your team, or as your current team's support system.
                        Let us know what you need, and we will figure out the partnership model that will ensure maximum productivity.
                    </p>
                </div>
            </div>
            {{> _view-more-block view_more_block.how_we_work_view_more}}
        </div>

    </div>
</div>