<section class="section-our-process">
    <div class="our-process-introduce">
        <h2>Our process</h2>
        <span class="yellow-divider"></span>
        <div class="our-process-sample">
            We have a well-tested set of processes to address the following areas:
        </div>
    </div>
    <div class="our-processes-container">
        <div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div>
        <div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div>
        <div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div>
        <div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div>
        <div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div><div class="process">
            <div class="circle-white">
                <img src="/img/iconProcess1.jpg" />
            </div>
            <div class="process-title">
                Agile Distributed Teams
            </div>
            <div class="process-detail">
                <h4>On Boarding</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
            </div>
        </div>
    </div>
</section>