<section class="section-our-process container-zindex-one">
    <div class="container">
        <div class="our-process-introduce checking-animate inactive fade-in">
            <h2>Our Processes</h2>
            <span class="yellow-divider"></span>
            <div class="our-process-sample">
                We have a well-tested set of processes to address the following areas:
            </div>
        </div>
        <div class="row our-processes-container">
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Agile Distributed Teams" />
                    </div>
                    <div class="process-title">
                        Agile for Distributed Teams
                    </div>
                    <div class="process-detail">
                        <h4>Agile for Distributed Teams</h4>
                        <span>
                            Worrying about stagnation and slow response
                            in a distributed team used to be natural.
                            It's no longer the case with us.
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Onboarding" />
                    </div>
                    <div class="process-title">
                        Onboarding
                    </div>
                    <div class="process-detail">
                        <h4>Onboarding</h4>
                        <span>
                            We've refined a set of onboarding processes to make
                            for the perfect start to our relationship. From
                            introductions to how we'll work together.
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Communication" />
                    </div>
                    <div class="process-title">
                        Communication
                    </div>
                    <div class="process-detail">
                        <h4>Communication</h4>
                        <span>
                            Maintaining transparent, timely, and effective
                            two-way communication is one of our
                            truest and dearest values
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Working Across Time Zones" />
                    </div>
                    <div class="process-title">
                        Working Across Time Zones
                    </div>
                    <div class="process-detail">
                        <h4>Working Across Time Zones</h4>
                        <span>
                            We're present whenever you need us - despite
                            time differences or short notices. The
                            globe has only one time zone.
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Development Processes" />
                    </div>
                    <div class="process-title">
                        Development Processes
                    </div>
                    <div class="process-detail">
                        <h4>Development Processes</h4>
                        <span>
                            We will guide you through refined, carefully
                            designed processes, from the ground
                            work to a flawless product.
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 process checking-animate slide-in-from-bottom inactive fade-in">
                <div class="process-contents">
                    <div class="circle-white">
                        <img src="/img/iconProcess1.jpg" alt="Testing Processe" />
                    </div>
                    <div class="process-title">
                        Testing Processes
                    </div>
                    <div class="process-detail">
                        <h4>Testing Processes</h4>
                        <span>
                            We follow through on all of our projects.
                            No product leaves our doors without
                            first braving a fire oven of testers.
                        </span>
                    </div>
                    <div class="yeallow-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>