---
title: "Job details contents page"
---
<div class="job-details-sections container-zindex-one">
    <div class="container">
        <div class="row job-details">
            <div class="col-xs-12">
                <h2>Job Description</h2>
                <div class="yellow-divider"></div>
                <p>We are currently starting several new development teams for our international clients to handle projects based on Microsofttechnologies, such as ASP.NET. As an ASP.NET developer, you will:</p>
                <ul class="job-requires_list">
                    <li>Take part in various projects for our international clients, mostly websites or e-commerce development based on Microsoft's .NET platform</li>
                    <li>Join all required software development phases from planning, estimation, designing and developing the implementation</li>
                    <li>Participate in Agile processes such as Scrum, Kanban or XP.</li>
                </ul>
            </div>
        </div>
        <div class="row job-details">
            <div class="col-xs-12">
                <h2>JOB REQUIREMENTS</h2>
                <div class="yellow-divider"></div>
                <ul class="job-requires_list">
                    <li>Good command of the English language, both in writing, speaking, and comprehension</li>
                    <li>Have relevant formal education, at minimum, a bachelor's degree with a major in software development or its equivalent</li>
                    <li>At least four (4) years of professional experience with developing websites based on the Microsoft .NET platform, (C#, SQL Server, ASP.NET, WebForms and/or MVC). This also includes the use of relevant client side technologies, such as HTML, CSS, JavaScript, JQuery, etc.</li>
                    <li>Experience in software architecture and patterns</li>
                    <li>Experience in multi browser development support and building user interfaces that validates according to W3C, following the latest accessibility standards</li>
                </ul>
                <h4>Additional experience and knowledge within these areas below is <strong>preferable but not required:</strong></h4>
                <ul class="job-requires_list">
                    <li>Development of mobile applications for iOS; iPad, iPhone, Android, etc.</li>
                    <li>HTML5, CSS3, Windows Azure, Unit testing</li>
                    <li>Sharepoint, DotNetNuke, Umbraco</li>
                </ul>
            </div>
        </div>
        <div class="row job-details">
            <div class="col-xs-12">
                <h2>Benefits </h2>
                <div class="yellow-divider"></div>
                <ul class="job-requires_list">
                    <li>Good command of the English language, both in writing, speaking, and comprehension</li>
                    <li>Have relevant formal education, at minimum, a bachelor's degree with a major in software development or its equivalent</li>
                    <li>At least four (4) years of professional experience with developing websites based on the Microsoft .NET platform, (C#, SQL Server, ASP.NET, WebForms and/or MVC). This also includes the use of relevant client side technologies, such as HTML, CSS, JavaScript, JQuery, etc.</li>
                    <li>Experience in software architecture and patterns</li>
                    <li>Experience in multi browser development support and building user interfaces that validates according to W3C, following the latest accessibility standards</li>
                    <li>Development of mobile applications for iOS; iPad, iPhone, Android, etc.</li>
                    <li>HTML5, CSS3, Windows Azure, Unit testing</li>
                    <li>Sharepoint, DotNetNuke, Umbraco</li>
                    <li>Good command of the English language, both in writing, speaking, and comprehension</li>
                    <li>Have relevant formal education, at minimum, a bachelor's degree with a major in software development or its equivalent</li>
                    <li>At least four (4) years of professional experience with developing websites based on the Microsoft .NET platform, (C#, SQL Server, ASP.NET, WebForms and/or MVC). This also includes the use of relevant client side technologies, such as HTML, CSS, JavaScript, JQuery, etc.</li>
                    <li>Experience in software architecture and patterns</li>
                    <li>Experience in multi browser development support and building user interfaces that validates according to W3C, following the latest accessibility standards</li>
                    <li>Development of mobile applications for iOS; iPad, iPhone, Android, etc.</li>
                    <li>HTML5, CSS3, Windows Azure, Unit testing</li>
                    <li>Sharepoint, DotNetNuke, Umbraco</li>
                </ul>
            </div>
        </div>
        <div class="row job-details">
            <div class="col-xs-12">
                <h2>Benefits </h2>
                <div class="yellow-divider"></div>
                <p>To apply, please submit the following information:</p>
                <ul class="job-requires_list">
                    <li>Good command of the English language, both in writing, speaking, and comprehension</li>
                    <li>Have relevant formal education, at minimum, a bachelor's degree with a major in software development or its equivalent</li>
                    <li>At least four (4) years of professional experience with developing websites based on the Microsoft .NET platform, (C#, SQL Server, ASP.NET, WebForms and/or MVC). This also includes the use of relevant client side technologies, such as HTML, CSS, JavaScript, JQuery, etc.</li>
                    <li>Experience in software architecture and patterns</li>
                    <li>Experience in multi browser development support and building user interfaces that validates according to W3C, following the latest accessibility standards</li>
                    <li>Development of mobile applications for iOS; iPad, iPhone, Android, etc.</li>
                    <li>HTML5, CSS3, Windows Azure, Unit testing</li>
                    <li>Sharepoint, DotNetNuke, Umbraco</li>
                </ul>
                <p>Please send your application to: <a href="mailto:hr@niteco.se"><strong>hr@niteco.se</strong></a></p>
            </div>
        </div>
        {{> _sharing_block}}
    </div>
</div>