.job-details-sections {
    padding: 50px 0;
    background: #f9fafb;
    .job-details {
        margin-bottom: 45px;
        h2 {
            padding-top: 30px;
            font-family: 'robotoblack';
            font-size: rem(30px);
            color:#282828;
            margin: 0;
            text-transform: uppercase;
        }
        p {
            font-family: 'robotolight';
            font-size: rem(18px);
            line-height: rem(30px);
            color: #2f2933;
            strong, a {
                font-family: 'robotobold';
                color: #2f2933;
            }
        }
        h4 {
            font-family: 'robotolight';
            font-size: rem(24px);
            color: #282828;
            strong {
                font-family: 'robotoregular';
            }
        }
        .job-requires_list {
            padding: 0;
            li {
                list-style: none;
                padding-left: 35px;
                background: url('/img/icon-tick.png') no-repeat 10px 10px;
                font-family: 'robotolight';
                font-size: rem(16px);
                line-height: rem(30px);
            }
        }
        
    }
    @include respond-to-min($tabletSize) {
    }

    @include respond-to-min($desktopSize) {
        .job-details {
            h2 {
                font-size: rem(42px);
            }
            h4 {
                font-size: rem(30px);
            }
        }
    }

    @include respond-to-min($laptopSize) {
        .job-details {
            h2 {
                font-size: rem(42px);
            }
            h4 {
                font-size: rem(30px);
            }
        }
    }
}