.page-description__title-container {
    text-align: center;
    padding: 60px 0;
    position: relative;
    z-index: 1;
    background: #fff;
    font-size: 0px;

    @include respond-to-min($tabletSize) {
        padding: 110px 0;
    }
}

.page-description__title {
    font-family: 'robotobold';
    text-transform: uppercase;
    text-align: center;
    color: #2f2933;
    font-size: 2rem;
    padding: 1rem 0 0.5rem;
    margin: 0;

    @include respond-to-min($tabletSize) {
        font-size: rem(36px);
        line-height: rem(30px);
        padding: 1rem 0;
    }

    @include respond-to-min($desktopSize) {
        font-size: rem(36px);
        padding: rem(30px) 0;
    }

    @include respond-to-min($laptopSize) {
    }
}

.page-description__sub-title {
    font-family: 'robotoregular';
    text-transform: capitalize;
    text-align: center;
    color: #595a5a;
    font-size: 1.3rem;
    margin: 0;

    @include respond-to-min($tabletSize) {
        font-size: rem(24px);
        line-height: rem(20px);
    }

    @include respond-to-min($desktopSize) {
        font-size: rem(24px);
    }

    @include respond-to-min($laptopSize) {
    }
}

.page-description__yellow-underline{
    margin: rem(28px) 0;
}

.page-description__description {
    font-family: 'robotolight';
    text-align: center;
    color: #6a7885;
    width: 85%;
    margin: 0 auto;
    font-size: 1.2rem;

    @include respond-to-min($tabletSize) {
        font-size: rem(24px);
        line-height: rem(35px);
    }

    @include respond-to-min($desktopSize) {
    }

    @include respond-to-min($laptopSize) {
    }
}
