

<section class="page-introduction-container">
    <div class="page-introduction-top-block" data-require="base/page-introduction">
        <div class="page-introduction-top-block__background page-introduction__background" style="background-image:url('/img/bgOur-Work-Introduction.png');"></div>
        <div class="page-introduction-top-block__content page-introduction__content">
            <h1>{{title}}</h1>
            <span class="yellow-divider"></span>
            <span class="page-introduction-top-block__content__sub-title">{{{subTitle}}}</span>
        </div>
        <div class="page-introduction-top-block__arrow-down page-introduction__arrow"></div>
    </div>
</section>
