
<div class="page-description__title-container checking-animate inactive fade-in">
    <div class="container">
        <h2 class="page-description__title">
            {{title}}
        </h2>
        <div class="page-description__sub-title">
            {{subTitle}}
        </div>
        <div class="yellow-divider page-description__yellow-underline">
        </div>
        <div class="page-description__description">
            {{description}}
        </div>
    </div>
</div>