<div class="row sharing-block">
    <div class="col-xs-12">
        <h4>Share this career opportunity with your friends!</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 haft-gutter">
        <a href="#" class="social_button fa-button"></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 haft-gutter">
        <a href="#" class="social_button tw-button"></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 haft-gutter">
        <a href="#" class="social_button linkedin-button"></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 haft-gutter">
        <a href="#" class="social_button email-button"></a>
    </div>
</div>