<div class="row view-jobs-opening checking-animate inactive fade-in">
    <div class="col-xs-12 col-sm-9 col-md-10">
        <p><strong>{{hightlight_text}}</strong> {{normal_text}} </p>
    </div>
    <div class="col-xs-12 col-sm-3  col-md-2 clear">
        <a href="{{button_url}}" class="pull-right view-more-jobs"><span class="mask"></span>{{button_text}}</a>
    </div>
</div>