<div class="row">
    {{#each this}}
    <div class="col-xs-12 col-sm-6 col-lg-4 search-result__item">
        <a href="{{url}}">
            <span class="search-result__title">{{title}}</span>
            <span class="search-result__description">{{description}}</span>
        </a>
    </div>
    {{/each}}
</div>