<article class="__award award" data-award-id="{{name}}">
    <div class="__award-logo-container">
        <div class="__award-logo" style="background-image: url('{{image}}');">
        </div>

        <div class="__award-category">
            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                <title>Rectangle 51</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="02.-Client-work" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
            <b>{{name}}</b>
            <span>{{title}}</span>
        </div>
    </div>
</article>