<section class="awards-section">
    
    {{> _page-description our_team.description}}

    <div class="awards">
        <div class="award-list--top">
            <div class="award-group __group">
                <article class="__award award" data-award-id="pelle">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>
                        
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">                                
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="calvin">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member1">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member2">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>             
                             
            </div>
            <div class="award-group __group">
                <article class="__award award" data-award-id="member4">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member5">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member6">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member7">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                
            </div>
            <div class="award-group __group">
                <article class="__award award" data-award-id="member9">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member10">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member11">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member12">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                
            </div>            
        </div>
        <div class="__info award-info">
            <div class="award-details __details" data-award-id="pelle">
                <div class="__container">
                    <h4 class="__title">Pelle</h4>
                    <p class="__desc">Zlatni Indeks is an award given by university students to companies that make the biggest impact on student's lives. In 2014, we were honored with this award in the category of Internship, for giving students the best experience of their potential workplace.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="calvin">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member1">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member2">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member3">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member4">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member5">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member6">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member7">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member8">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member9">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member10">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member11">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member12">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            <div class="award-details __details" data-award-id="member13">
                <div class="__container">
                    <h4 class="__title">Calvin</h4>
                    <p class="__desc">Thanks to our consistent growth, we've won our second consecutive <a href=" http://www2.deloitte.com/global/en/pages/about-deloitte/articles/technology-fast50-ce.html">Deloitte Fast 50 Central Europe</a> award. This prestigious award is presented annually to top performing technology companies from Central Europe.</p>
                </div>
            </div>
            
        </div>
        <div class="award-list--bottom">
            <div class="award-group __group">
                <article class="__award award" data-award-id="pelle">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="calvin">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member1">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member2">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                
            </div>
            <div class="award-group __group">
                <article class="__award award" data-award-id="member4">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member5">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member6">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member7">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                
            </div>
            <div class="award-group __group">
                <article class="__award award" data-award-id="member9">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member10">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member11">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgPelle.jpg" />
                        </div>

                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Pelle Niklasson</b>
                            <br />
                            Chief Executive Officer
                        </div>
                    </div>
                </article>
                <article class="__award award" data-award-id="member12">
                    <div class="__award-logo-container">
                        <div class="__award-logo">
                            <img src="/img/imgCalvin.jpg" />
                        </div>
                        <div class="__award-category">
                            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="__award-btn">
                                <title>Rectangle 51</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="02.-Client-work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Client-work" sketch:type="MSArtboardGroup" transform="translate(-235.000000, -4419.000000)" fill="#D8D8D8">
                                        <path d="M247,4429 L247,4419 L245,4419 L245,4429 L235,4429 L235,4431 L245,4431 L245,4441 L247,4441 L247,4431 L257,4431 L257,4429 L247,4429 Z" id="Rectangle-51" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </svg>
                            <b>Calvin Nguyen</b>
                            <br />
                            Chief Operating Officer
                        </div>
                    </div>
                </article>
                
            </div>           
        </div>
    </div>
</section>