.awards-section {

    &::after {
        content: '';
        display: block;
        height: 1px;
        clear: both;
    }
}

.awards {
    width: 100%;
    float: left;
    background: #fff;
    position: relative;
    z-index: 1;

    .__award-logo-container {
        height: 100%;
        width: 100%;
    }
}

.award-group, .award-subgroup {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.award-group:after, .award-subgroup:after {
    content: " ";
    display: block;
    clear: both;
}

.__group {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .__subgroup {
        float: left;
        width: 100%;

        @include respond-to-min($desktopSize) {
            width: 50%;
        }

        .__award {
            width: 100%;
            float: left;

            @include respond-to-min($tabletSize) {
                width: 50%;
            }
        }
    }
}

.award {
    border-bottom: solid 15px #f0f1f3;
    height: 395px;
    position: relative;
    cursor: pointer;

    .__award-logo {
        width: 100%;
        height: 298px;
        background-size: cover;
        background-position: center top;
        opacity: 0.8;
    }

    .__award-category {
        font-family: 'robotothin';
        position: relative;
        bottom: 0px;
        width: 100%;
        right: 0;
        height: 82px;        
        font-weight: bold;
        color: #a1b1bc;
        text-align: left;
        padding-left: 25px;
        border-right: solid 1px #f0f1f3;
        display: block;

        @include respond-to-min($tabletSize) {
            font-size: 0.8rem;
            line-height: 1rem;
        }

        @include respond-to-min($desktopSize) {
            font-size: 0.8rem;
            line-height: 1rem;
        }

        @include respond-to-min($laptopSize) {
            font-size: 0.935rem;
            line-height: 1.5rem;
        }

        @include respond-to-min($bigScreen) {
            font-size: 0.935rem;
            line-height: 1.5rem;
        }

        b {
            padding-top: 18px;
            color: #2c3e50;
            display: inline-block;
            font-family: 'robotoregular';

            @include respond-to-min($tabletSize) {
                font-size: 1.125rem;
                line-height: 1rem;
            }

            @include respond-to-min($desktopSize) {
                font-size: 1.2rem;
                line-height: 1rem;
            }

            @include respond-to-min($laptopSize) {
                font-size: 1.125rem;
                line-height: 1.5rem;
            }

            @include respond-to-min($bigScreen) {
                font-size: 1.125rem;
                line-height: 1.5rem;
            }
        }

        span {
            display: block;
        }
    }

    .__award-btn {
        height: 16px;
        position: absolute;
        top: 32px;
        right: 23px;
        width: 16px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        path {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
    }

    &.__award--selected {
         border-bottom-color:#facd20;
         .__award-logo {
            width: 100%;
            height: 298px;
            opacity:1;
            img {
                opacity: 1;
                width: 100%;
                height: 100%;
            }
        }
        .__award-btn {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .__award-btn #Rectangle-51 {
            fill: #D8262C;
        }
        &:hover{
            .__award-btn #Rectangle-51 {
                fill: #D8262C;
            }
        }
    }

    &:hover {
        border-bottom-color:#facd20;
        .__award-logo {
            width: 100%;
            height: 298px;
            opacity: 1;

            img {
                opacity: 1;
                width: 100%;
                height: 100%;
            }
        }
         .__award-btn #Rectangle-51 {
            fill: #2c3e50;
        }
    }
}

.award-info {
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    transition: all 0.5s ease;
    width: 100%;
}

.award-details {
    display: none;

    .__desc {
        font-family: 'robotolight';
        color: #6a7885;
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.5;
    }


    .__title {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .__container {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 15px;

        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
}

.award-details--active {
    transition: all 0.5s ease;
}

.award .__award-logo, .award .__award-btn {
    margin-left: auto;
    margin-right: auto;
}


.award-list--top .__group--active ~ .__group .__award {
    display: none;
}

.award-list--bottom .__award {
    display: none;
}

.award-list--bottom .__group--active ~ .__group .award {
    display: block;
}
