<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Niteco website | {{ title }}</title>

    <meta property="og:title" content="Niteco website" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="http://www.niteco.se" />
    <meta property="og:site_name" content="Niteco.se" />
    <meta property="og:description" content="Website Nitceo" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="http://www.niteco.se/" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <link href="/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/css/print.css" rel="stylesheet" media="print" />

</head>

<body>

    {{> body }}

</body>

</html>
