---
title: "Home page"
---
{{> _loading }}
{{> top_navigator }}
<div class="page-wrapper">
    <section class="home-container content-container" data-require="base/home">
        <div class="home-content-wrapper content-wrapper">
            {{> _home_left }}
            {{> _home_right }}
        </div>
    </section>
</div>


