.careers-block {
    position: relative;
    z-index: 1;
    background: #fff;
}
.careers-page-container {
    .page-description__sub-title {
        letter-spacing: 2px;
    }
    .view-jobs-opening {
        margin-top: 75px;
        color: #fff;
        a.view-more-jobs {
            text-transform: uppercase;
            font-size: rem(14px);
            transition:0.25s ease;
        }

        @include respond-to-min($laptopSize) {
            a.view-more-jobs {
                font-size: rem(15px);
            }
        }
        @include respond-to-min($desktopSize) {
            a.view-more-jobs {
                font-size: rem(15px);
            }
        }
        @include respond-to-min($tabletSize) {
            
        }
        p {
            margin: 30px 0;
            text-align: center;
            font-family: 'robotolight';

            strong {
                font-family: 'robotobold';
            }

            @include respond-to-min($tabletSize) {
                & {
                    height: 55px;
                    line-height: rem(55px);
                    margin: 0;
                    text-align: left;
                    letter-spacing: 0.5px;
                }
            }

            @include respond-to-min($desktopSize) {
                & {
                    height: 55px;
                    margin: 0;
                    text-align: left;
                }
            }

            @include respond-to-min($laptopSize) {
                & {
                    height: 55px;
                    font: 1.875rem/55px 'robotolight';
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }
    @include respond-to-min($desktopSize) {
        .page-description__title-container {
            padding-top: 132px;
            padding-bottom: 132px;
        }
    }

    @include respond-to-min($laptopSize) {
        .page-description__title-container {
            padding-top: 132px;
            padding-bottom: 132px;
        }
    }
} 
.careers-middle-block {
    padding: 106px 0 82px;
    background: #333;

    @include respond-to-min($desktopSize) {
        background: url('/img/bg.jpg') #333;
    }

    @include respond-to-min($laptopSize) {
        background: url('/img/bg.jpg') #333;
    }

    .careers-step-detail {
        position: relative;
        text-align: center;
        padding: 70px 15px;
        background: #fff;
        margin-bottom: 66px;

        @include respond-to-min($desktopSize) {
            margin-bottom: 0;
        }

        @include respond-to-min($laptopSize) {
            margin-bottom: 0;
        }

        @include respond-to-min($tabletSize) {
            margin-bottom: 0;
            padding-bottom: 30px;
        }

        .step-number {
            position: absolute;
            left: 50%;
            top: -40px;
            width: 115px;
            height: 115px;
            margin-left: -57px;
            border-radius: 100px;
            border: 8px solid #fff;
            font: 3.75rem/95px 'latoblack';
            color: #2c3e50;
            background: #cedae1;
        }

        .step-content {
            height: 200px;
            padding: 0;

            @include respond-to-min($desktopSize) {
            }

            @include respond-to-min($laptopSize) {
                padding: 0 40px;
            }

            h3 {
                color: #2c3e50;
                padding: 10px 0;
                margin: 0;

                @include respond-to-min($desktopSize) {
                    padding: 25px 0;
                    font: 1.625rem/1 'robotomedium';
                }

                @include respond-to-min($laptopSize) {
                    padding: 25px 0;
                    font: 1.625rem/1 'robotomedium';
                }
            }

            p {
                font: 0.875rem/1.5rem 'robotoregular';
                color: #a1b1bc;
                margin: 0;
            }
        }
    }

    .careers-apply-step > div.col-sm-4:last-child {
        .careers-step-detail {
            margin-bottom: 0;
        }
    }

    .careers-apply-step {
        @for $i from 1 through 3 {
            .col-xs-12:nth-child(#{$i}) {
                transition-delay: 200ms * ($i - 1);
            }
        }
    }
}

.careers-benefit-row {
    .no-gutter {
        padding-left: 0;
        padding-right: 0;
    }

    .careers-benefit {
        border-bottom: 1px solid #f0f1f3;
        margin-bottom: 60px;

        &.no-border-left {
            border-left: 0;
        }

        .benefit-thumbnail {
            height: auto;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }

            @include respond-to-min($desktopSize) {
                height: 255px;
            }

            @include respond-to-min($laptopSize) {
                height: 320px;
            }

            @include respond-to-min($tabletSize) {
                height: 255px;
            }
        }

        .benefit-name {
            font: rem(20px) 'robotomedium';
            color: #2c3e50;
            margin: 0;
        }

        .benefit-content {
            padding: 25px 30px;
            height: 120px;
            border-left: 1px solid #f0f1f3;

            p {
                font-size: rem(16px);
                line-height: rem(24px);
                font-family: 'robotolight';
                color: #595a5a;
                margin: 0;
            }

            &:nth-child(2n) {
                border-left: 0;
            }

            @include respond-to-min($desktopSize) {
                &:nth-child(3n) {
                    border-left: 1px solid #f0f1f3;
                }
            }

            @include respond-to-min($laptopSize) {
                &:nth-child(4n) {
                    border-left: 1px solid #f0f1f3;
                }
            }

            @include respond-to-min($tabletSize) {
                &:nth-child(2n) {
                    border-left: 1px solid #f0f1f3;
                }
            }
        }
    }
}

.section-job-opening {
    @extend .section-our-values;
    padding: 100px  0 115px;
    p {
        strong {
            letter-spacing: 2px;
        }
    }
    .our-values-container {
        .view-jobs-opening a.view-more-jobs {
            text-transform: uppercase !important;
            font-size: rem(15px);
            padding: 0 25px;
        }
        .our-value-header {
            h2 {
                padding-bottom: 20px;
                text-transform: capitalize;
            }
        }
        .our-value-item {
            padding: 5px;
            position: relative;
            overflow: hidden;
            padding: 5px;
            min-height: 0;
            cursor: pointer;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 20px;
            }
            .job-details {
                min-height: 155px;
                position: relative;
                border-left: 10px solid #e1e4e7;
                padding: 25px 15px;

                .job-thumbnail {
                    float: none;
                    padding: 30px 0;
                    overflow: hidden;
                    opacity: 1;

                    img {
                        display: block;
                        margin: auto;
                        max-width: 135px;
                        height: auto;
                    }
                }

                .value-description {
                    font-size: rem(18px);
                    line-height: rem(25px);
                    color: #595a5a;
                    font-family: 'robotolight';

                    h3 {
                        font-family: "robotobold";
                        font-size: rem(24px);
                        padding: 0;
                        margin-bottom: 10px;

                        span {
                            font-family: "robotothin";
                        }
                    }
                }
            }

            .arrowGoToDetail {
                position: absolute;
                width: 25px;
                height: 27px;
                margin-top: -13px;
                top: 50%;
                right: 40px;

                a {
                    height: 100%;
                    display: block;
                    background: url('/img/iconArrowJobOpening_.png') no-repeat 0 0;

                    &:hover {
                        background-position: 0 -27px;
                    }
                }
            }

            @include respond-to-min($desktopSize) {
                .job-descriptions {
                    padding: 0 40px 0 0;
                }

                .job-details {
                    padding: 25px 40px 25px 0;

                    .job-thumbnail {
                        width: 135px;
                        float: left;
                        padding: 0;
                    }
                }
            }

            @include respond-to-min($laptopSize) {
                .job-descriptions {
                    padding: 0 40px 0 0;
                }

                .job-details {
                    padding: 25px 40px 25px 0;

                    .job-thumbnail {
                        width: 135px;
                        float: left;
                        padding: 0;
                    }
                }
            }

            @include respond-to-min($tabletSize) {
                .job-descriptions {
                    padding: 0 40px 0 0;
                }

                .job-details {
                    padding: 25px 40px 25px 0;

                    .job-thumbnail {
                        width: 135px;
                        float: left;
                        padding: 0;
                    }
                }
            }

            &:hover {
                .job-details {
                    border-left: 10px solid #facd20;
                }

                .arrowGoToDetail {
                    a {
                        background-position: 0 -27px;
                    }
                }
            }
        }
    }


    .job-description {
        font-family: 'robotolight';
        color: #fff;
        padding: 30px 0 60px;
        letter-spacing: 1.5px;
        @include respond-to-min($tabletSize) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        @include respond-to-min($desktopSize) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        @include respond-to-min($laptopSize) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        @include respond-to-min($bigScreen) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
    }
}
