---
title: "Careers How To Apply Step"
---
<div class="careers-middle-block careers-block">
    <div class="container">
        <div class="row careers-apply-step">
            <div class="col-xs-12 col-sm-4">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Send Us Your CV</h3>
                        <p>
                            Praesent turpis mauris, aliquet id dolor
                            Gravida adipiscing lectus ut rutrum
                            Aenean at posuere risus.
                        </p>
                    </div>
                    <div class="step-number">1</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Test and Interview</h3>
                        <p>
                            Praesent turpis mauris, aliquet id dolor
                            Gravida adipiscing lectus ut rutrum
                            Aenean at posuere risus.
                        </p>
                    </div>
                    <div class="step-number">2</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Join the Nitecan’s</h3>
                        <p>
                            Praesent turpis mauris, aliquet id dolor
                            Gravida adipiscing lectus ut rutrum
                            Aenean at posuere risus.
                        </p>
                    </div>
                    <div class="step-number">3</div>
                </div>
            </div>
        </div>
        <div class="row view-jobs-opening">
            <div class="col-xs-12 col-sm-8">
                <p><strong>Looking for a career?</strong> Let’s see how we can help you grow </p>
            </div>
            <div class="col-xs-12 col-sm-4 clear">
                <a href="#" class="pull-right view-more-jobs">View job openings</a>
            </div>
        </div>
    </div>
</div>