<section class="section-job-opening container-zindex-one">
    <div class="our-values-container container">
        <div class="row">
            <div class="col-xs-12 our-value-header checking-animate inactive fade-in">
                <h2>Current job openings</h2>
                <div class="header-underline">
                    <span class="header-underline-content"></span>
                </div>
                <div class="job-description">
                    Below are working positions up for grabs. Apply for the ones suitable for you. We will invite you for an interview if your application meets our requirements.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 checking-animate inactive slide-in-from-bottom">
                <div class="our-value-item">
                    <div class="job-details">
                        <div class="job-thumbnail">
                            <a href="/Static/compiled/pages/job-details.html"><img src="/img/android-img.png" /></a>
                        </div>
                        <div class="value-description job-descriptions">
                            <a href="/Static/compiled/pages/job-details.html"><h3>Senior .Net developer<span> (Hanoi & HCM city)</span></h3></a>
                            We are currently starting several new development teams for our international clients to handle projects based on Microsoft technologies, such as ASP.NET.
                        </div>
                        <div class="arrowGoToDetail hidden-xs">
                            <a href="/Static/compiled/pages/job-details.html"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 checking-animate inactive slide-in-from-bottom">
                <div class="our-value-item">
                    <div class="job-details">
                        <div class="job-thumbnail">
                            <a href="/Static/compiled/pages/job-details.html"><img src="/img/android-img.png" /></a>
                        </div>
                        <div class="value-description job-descriptions">
                            <a href="/Static/compiled/pages/job-details.html"><h3>Senior .Net developer<span> (Hanoi & HCM city)</span></h3></a>
                            We are currently starting several new development teams for our international clients to handle projects based on Microsoft technologies, such as ASP.NET.
                        </div>
                        <div class="arrowGoToDetail hidden-xs">
                            <a href="/Static/compiled/pages/job-details.html"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 checking-animate inactive slide-in-from-bottom">
                <div class="our-value-item">
                    <div class="job-details">
                        <div class="job-thumbnail">
                            <a href="/Static/compiled/pages/job-details.html"><img src="/img/android-img.png" /></a>
                        </div>
                        <div class="value-description job-descriptions">
                            <a href="/Static/compiled/pages/job-details.html"><h3>Senior .Net developer<span> (Hanoi & HCM city)</span></h3></a>
                            We are currently starting several new development teams for our international clients to handle projects based on Microsoft technologies, such as ASP.NET.
                        </div>
                        <div class="arrowGoToDetail hidden-xs">
                            <a href="/Static/compiled/pages/job-details.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> _view-more-block view_more_block.careers_view_more_contact_us}}
    </div>
</section>