---
title: "Careers How To Apply Step"
---
<div class="careers-middle-block careers-block">
    <div class="container">
        <div class="row careers-apply-step">
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Send Us Your CV</h3>
                        <p>
                            Send and English CV to hr@niteco.se in
                            any printable format. Include your
                            work experience and skills.
                        </p>
                    </div>
                    <div class="step-number">1</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Test and Interview</h3>
                        <p>
                            Go through some quick test(s) designed
                            for your applied position, and have a
                            one-on-one chat with our recruiter.
                        </p>
                    </div>
                    <div class="step-number">2</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content">
                        <h3 class="step-name">Join the Nitecan’s</h3>
                        <p>
                            We’ll send you a job offer in writing
                            and thoroughly prep you up for
                            becoming a Nitecan!
                        </p>
                    </div>
                    <div class="step-number">3</div>
                </div>
            </div>
        </div>
        {{> _view-more-block view_more_block.careers_job_opening_view_more}}
    </div>
</div>