<a href="{{this.url}}" title="">
  <span class="home-color-block-item__background" style="background-image: url('{{this.background}}')"></span>
  <span class="home-color-block-item__background home-color-block-item__background-hover" style="background-image: url('{{this.backgroundHover}}')"></span>
  <div class="home-color-block-item__content-container">
    <span class="home-color-block-item__content">
      <span class="home-block-animation-container">
          <span class="home-block__icon-engage-paper"></span>
      </span>

      <span class="home-color-block-item__content__text home-color-block-item__engagement-text">
        {{this.text}}
      </span>
    </span>
  </div>
</a>
