.home-content-wrapper{
	&.content-wrapper{
		padding: 0;
	}
}

.home-color-block-item {
    &__background, &__content-container {
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center top;
    }

    &__background-hover {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &__content-container {
        z-index: 1;
        font-size: 0;

        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            position: relative;
            vertical-align: middle;
        }
    }
    /*-- career animation --*/
    &__content-career {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 63px;

        &__text {
            text-align: left;
            display: block;

            &__small-text {
                font-family: 'robotolight';
                color: #fff;
                opacity: 0.8;
                text-transform: capitalize;
                display: block;
                margin: 0 0 9px;
                padding: 0 0 0 15px;
                font-size: rem(26px);
                line-height: rem(22px);
            }

            &__big-text {
                font-family: 'robotoblack';
                color: #c5c3b4;
                opacity: 0.8;
                display: block;
                text-transform: uppercase;
                font-size: rem(56px);
                line-height: rem(40px);
                transition: color 300ms ease-in-out;
            }
        }

        .career-animation {
            position: absolute;
            width: 107px;
            height: 142px;
            left: -127px;
            transform: translate(0, -25%);

            &__spins {
                width: 65px;
                height: 74px;
                position: absolute;
                left: 54%;
                transform: translate(-50%, 0);
                top: -17px;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50px;
                    left: 0px;
                    transition: top 500ms ease-in-out;
                }
            }

            &__head {
                position: absolute;
                width: 61px;
                height: 28px;
                background: url('/img/home-careers-icon.png') no-repeat center top;
                top: 0px;
                left: 50%;
                transform: translate(-50%, 0);
                transition: transform 500ms ease-in-out;
                transform-origin: 0 100%;
            }

            &__body {
                position: absolute;
                width: 107px;
                height: 113px;
                top: 28px;
                left: 0;
                background: url('/img/home-careers-icon.png') no-repeat center -28px;
            }
        }
    }
    /*-- right column --*/
    &__content {
        text-align: center;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        position: relative;
        font-size: 0px;

        .home-block-animation-container {
            display: inline-block;
            position: relative;
            margin: 0 0 30px;
        }

        &__text {
            display: block;
            text-align: center;
            color: #e0decd;
            font-family: 'robotobold';
            text-transform: uppercase;
            font-size: rem(32px);
            line-height: rem(24px);
            opacity: 0.8;
            transition: color 300ms ease-in-out;
        }
        /*-- service--*/
        .home-block__icon-computer {
            width: 170px;
            height: 125px;
            background: url('/img/home-services-icon.png') no-repeat 0 -94px;
            display: inline-block;
        }

        .home-block__icon-mobile {
            width: 43px;
            height: 72px;
            display: inline-block;
            background: url('/img/home-services-icon.png') no-repeat -12px -5px;
            position: absolute;
            bottom: -11px;
            right: -11px;
        }

        .home-block__icon-spin-big {
            width: 49px;
            height: 49px;
            background: url('/img/home-services-icon.png') no-repeat -93px -16px;
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -24px;
        }

        .home-block__icon-spin-small {
            width: 26px;
            height: 26px;
            background: url('/img/home-services-icon.png') no-repeat -49px -8px;
            background-size: 95px auto;
            position: absolute;
            top: 22px;
            left: 50%;
            margin-left: -13px;
        }

		/*-- our team --*/
		.home-block__icon-puzzle-white{
			width: 62px;
			height: 52px;
			background: url('/img/home-our-team-icon.png') no-repeat 0 0;
			display: inline-block;
			position: relative;
			transition: transform 300ms ease-in-out;
			transform: translate(-10px,-10px) rotate(20deg);
		}
		.home-block__icon-puzzle-blue{
			width: 52px;
			height: 62px;
			background: url('/img/home-our-team-icon.png') no-repeat -75px 0;
			display: inline-block;
			position: relative;
			margin: 0 0 -10px -10px;
			transition: transform 300ms ease-in-out;
			transform: translate(10px, -10px);
		}
		.home-block__line-separate{
			display: block;
			width: 100%;
			height: 1px;
			margin-top: -1px;
		}
		.home-block__icon-puzzle-yellow{
			width: 52px;
			height: 62px;
			background: url('/img/home-our-team-icon.png') no-repeat 0 -65px;
			display: inline-block;
			position: relative;
			margin: -15px -10px 0 0;
			transition: transform 300ms ease-in-out;
			transform: translate(-10px, 10px) rotate(-10deg);
		}
		.home-block__icon-puzzle-orange{
			width: 62px;
			height: 52px;
			background: url('/img/home-our-team-icon.png') no-repeat -65px -75px;
			display: inline-block;
			position: relative;
			transition: transform 300ms ease-in-out;
			transform: translate(10px, 10px) rotate(10deg);
		}
    }

    &:hover {
        .home-color-block-item__background-hover {
            opacity: 1;
        }
        /*-- career animation --*/
        .career-animation {
            &__head {
                transform: translate(-50%, 0) rotate(-135deg);
            }

            &__spins {
                img {
                    top: 0px;
                }
            }
        }

        .home-color-block-item__content-career__text {
            &__big-text {
                color: #ff9f47;
            }
        }
        /*-- service animation --*/
        .home-block__icon-spin-big {
            animation: spin-animation 2s linear 0s infinite normal;
        }

        .home-block__icon-spin-small {
            animation: spin-animation 2s linear 0s infinite normal;
        }
        .home-color-block-item__service-text{
            color: #ff9f47;
        }

		/*-- our team animation --*/
		.home-block__icon-puzzle-white{
			transform: translate(0px,0px) rotate(0deg);
		}
		.home-block__icon-puzzle-blue{
			transform: translate(0px, 0px);
		}
		.home-block__icon-puzzle-yellow{
			transform: translate(0px, 0px) rotate(0deg);
		}
		.home-block__icon-puzzle-orange{
			transform: translate(0px, 0px) rotate(0deg);
		}

		.home-color-block-item__our-team-text{
			color: #46b29d;
		}
    }
    /*-- keyframe--*/
    @keyframes spin-animation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
