---
title: "Home Right"
---
<div class="home-column-right">
    <div class="home-block-column">
        <div class="home-block-item home-block-item__dark-bg">
            {{> _home_block_item home.services}}
        </div>
        <div class="home-block-item home-block-item__bright-bg">
            {{> _home_block_item home.projects}}
        </div>
        <div class="home-block-item home-block-item__dark-bg">
            {{> _home_block_item home.contactUs}}
        </div>
    </div>

    <div class="home-block-column">
        <div class="home-block-item home-block-item__bright-bg">
            {{> _home_block_item home.work}}
        </div>
        <div class="home-block-item home-block-item__dark-bg">
            {{> _home_block_item home.team}}
        </div>
        <div class="home-block-item home-block-item__bright-bg">
            {{> _home_block_item home.facebook}}
        </div>
    </div>
</div>