---
title: 'Our Works Gallery'
---
<section class="parallax-panel project-gallery container-zindex-one">
    <ul class="list-projects">
       <li class="project-item checking-animate inactive fade-in">
            <img src="/img/1.di.jpg" />
            <div class="project-holder-content">
                <div class="project-holder">
                    <div class="text">
                        <div class="title">Dagens Nyheter</div>
                        <div class="wave_hover">
                            <span class="yellow-divider"></span>
                        </div>
                        <div class="h_main">EPiServer/CMS</div>
                        <div class="subtitle">How we helped them process 5mil. page views/day.</div>
                        <div class="button-container">
                            <a href="#" class="button-yellow-border" title="">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
       <li class="project-item checking-animate inactive fade-in">
            <img src="/img/2.dn.se.jpg" />
            <div class="project-holder-content">
                <div class="project-holder">
                    <div class="text">
                        <div class="title">Dagens Nyheter</div>
                        <div class="wave_hover">
                            <span class="yellow-divider"></span>
                        </div>
                        <div class="h_main">EPiServer/CMS</div>
                        <div class="subtitle">How we helped them process 5mil. page views/day.</div>
                        <div class="button-container">
                            <a href="#" class="button-yellow-border" title="">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
       <li class="project-item checking-animate inactive fade-in">
            <img src="/img/12.addition.jpg" />
            <div class="project-holder-content">
                <div class="project-holder">
                    <div class="text">
                        <div class="title">Dagens Nyheter</div>
                        <div class="wave_hover">
                            <span class="yellow-divider"></span>
                        </div>
                        <div class="h_main">EPiServer/CMS</div>
                        <div class="subtitle">How we helped them process 5mil. page views/day.</div>
                        <div class="button-container">
                            <a href="#" class="button-yellow-border" title="">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
       <li class="project-item checking-animate inactive fade-in">
            <img src="/img/13.rx.jpg" />
            <div class="project-holder-content">
                <div class="project-holder">
                    <div class="text">
                        <div class="title">Dagens Nyheter</div>
                        <div class="wave_hover">
                            <span class="yellow-divider"></span>
                        </div>
                        <div class="h_main">EPiServer/CMS</div>
                        <div class="subtitle">How we helped them process 5mil. page views/day.</div>
                        <div class="button-container">
                            <a href="#" class="button-yellow-border" title="">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>