---
title: 'Our Works Testimonial'
---
<section id="testimonialContainer" class="testimonial-container" data-require="base/carousel-slider">
    <div id="testimonialContainerSlider" class="testimonial-carousel-container">
        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg-2.png');">
                <div class="main">
                    <div class="content">
                        <h1>What Our Clients Say</h1>
                        <div class="underline__border"></div>
                        <div class="img__quote"></div>
                        <div class="quote__text">
                            <p>"Niteco has proper foundation for hosting and providing sevices that EPiSever was looking for. It was an easy decision for us, as they has the correct resources coupled with strategic experience and the availability of skilled engineers. We value thier transparent work-ethic and would recommend Niteco to anyone looking for excellent and cost-efficient deliveries within the Asia Pacific time zone. So far everything has been extremely well done and well-organized."</p>
                        </div>
                        <div class="quote__about">
                            <p>Jens Nyg&aring;rd</p>
                            <span>Developer Support & Expert Services Manager from EPiServer AB</span>
                            <p><img src="/img/episerver-logo.png" alt="episerver" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg-2.png');">
                <div class="main">
                    <div class="content">
                        <h1>What Our Clients Say</h1>
                        <div class="underline__border"></div>
                        <div class="img__quote"></div>
                        <div class="quote__text">
                            <p>"Based on my working relationship with Niteco, it's guaranteed that any given project will result in a beneficial and fruitful collaboration. Spinifex was looking for skilled EPiServer developers to continue working on projects we have, which includes doing enhancements and bug fixes. I value the availability of thier developers the most, and the easiness of communicating with them directly on a regular basic. Skill levels are high and task assigned are always delivered fast. On top of that, they offer a very competitive cost for EPiServer developer resources. The result has been excellent, I've really had no issues whatsoever dealing with Niteco."</p>
                        </div>
                        <div class="quote__about">
                            <p>Jan Montano</p>
                            <span>Team Leader at Spinifex</span>
                            <p><img src="/img/spinifex-logo.png" alt="episerver" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

